
//* 放大動畫效果
.animation_hover:hover {
    transform: scale(1.1);
    transition: 0.2s;
}
.animation_hover:active{
    transform: scale(1.2);
}
// * 讓列表斷行
.menu{
    @media (max-width:576px) {
        flex-wrap: wrap;
    }
}