.nav-item a:hover {
    transform: scale(1.1);
    border-bottom: 3px solid #f1ebd8;
}
.nav-item a:active {
    transform: scale(1.2);
}
.nav-item{
    @media (max-width:992px) {
        margin: 0;
        font-size: 1.1rem;
    }
}
.navbar {
    background: rgba(0, 0, 0, 0.4);
    & .navbar-brand.logoRwdHide:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }
    & .navbar-brand.logoRwdHide:active {
        transform: scale(1.2);
    }
    & .navbar-brand.logoRwdHide .title {
        position: absolute;
        top: 4rem;
        font-size: 1px;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
    }
}
.logoRwdHide{
    @media (max-width:576px) {
        display: none;
    }
}
.cartProductsQtyBadge{
    margin-top: .5rem;
    @include xs {
        font-size: .4rem;
        left: 55%;
    }
    @include sm {
        font-size: .6rem;
        left: 53%;
    }
    @include lg {
        font-size: .8rem;
        left: 90%;
    }
}
//* 漢堡選單 放大
.navbar-toggler .bi::before{
    font-size: 3rem;
}
//* 凸顯當前頁面
.currentPage{
    border-bottom: 3px solid #f1ebd8;
    transform: scale(1.1);
}
.cartQty{
    margin-top: .6rem;
    @include xs {
        font-size: .7rem;
        right: -20%;
    }
    @include md {
        font-size: .8rem;
        right: -20%;
    }
}