//* 圖片
.banner{
    position: absolute;
    top: 35%;
    left: 27%;
    opacity: .7;
    width: 80rem;
    z-index: -1;
//*圖片圖片響應式大小
    @media (max-width:1400px) {
        & {
            width: 75rem;
            top: 45%;
            left: 8%;
        }
    }
    @media (max-width:1200px) {
        & {
            width: 68rem;
            top: 48%;
            left: 5%;
        }
    }
    @media (max-width:992px) {
        & {
            width: 55rem;
            height: 45rem;
            top: 50%;
        }
    }
    @media (max-width:768px) {
        & {
            
            width: 43rem;
        }
    }
    @media (max-width:576px) {
        & {
            width: 35rem;
            height: 35rem;
            top: 60%;
            left: 0%;
        }
    }
}

//* hover 放大動畫效果
.animation_hover:hover {
    transform: scale(1.02);
}
//* active 放大
.active_bigger:active {
    transform: scale(1.05);
}