.banner{
    width: 70rem;
    position: absolute;
    top: 15%;
    left: 30%;
    z-index: -1;
    opacity: .5;
    @media (max-width:1400px) {
        &{
            width: 50rem;
            left: 20%;
            top: 30%;
        }
    }
    @media (max-width:1200px) {
        &{
            left: 15%;
        }
    }
    @media (max-width:992px) {
        &{
            left: 10%;
        }
    }
    @media (max-width:768px) {
        &{
            width: 65rem;
            left: 0%;
        }
    }
    @media (max-width:576px) {
        &{
            top: 45%;
        }
    }
}
//* hover 放大動畫效果
.animation_hover:hover {
    transform: scale(1.02);
}
//* active 放大
.active_bigger:active {
    transform: scale(1.05);
}