
//* 愛心按鈕
.like_btn {
    color: red;
    position: absolute;
    @include xs {
        right: 7%;
        top: -1;
    }
    @include sm {
        right: 7%;
    }
    @include md {
        right: 3%;
    }
    @include xl {
        right: 4%;
    }
    @include xxl {
        right: 3%;
    }
}
//* 產品圖片
.product_img {
    @include xs {
        width: 100%;
    }
    @include sm {
        width: 100%;
        height: 20rem;
    }
}
.card{
    @include xs {
        padding-left: 7%;
        padding-right: 7%;
    }
}
.card-body{
    margin-bottom: 5%;
}
.badge {
    position: absolute;
    left: 0%;
}


//* 小標題
.subtitle {
    @include lg {
        margin-top: 10%;
    }
}

.bi:active {
    font-size: 2.05rem;
}
//* 無收藏產品的 banner
.banner {
    position: absolute;
    z-index: -1;
    opacity: 0.6;
    @include xs {
        width: 20rem;
        height: 25rem;
        left: 6%;
        top: 27%;
    }
    @include sm {
        width: 30rem;
        height: 25rem;
        left: 8%;
        top: 27%;
    }
    @include md {
        width: 40rem;
        top: 27%;
    }
    @include lg {
        width: 50rem;
        left: 10%;
    }
    @include xl {
        width: 55rem;
        height: 27rem;
        left: 13%;
    }
    @include xxl {
        width: 60rem;
        height: 30rem;
        left: 15%;
    }
    @media (min-width: 1401px) {
        top: 25%;
        left: 35%;
        width: 60rem;
    }
}
//* 調整 "查看更多" 圖片位置
.product_img:hover .product_info{
    top: 18%;
}