//* 愛心按鈕
.like_btn {
    color: red;
    position: absolute;
    @include xs {
        right: 7%;
        top: -1;
    }
    @include sm {
        right: 7%;
    }
    @include md {
        right: 3%;
    }
    @include xl {
        right: 4%;
    }
    @include xxl {
        right: 3%;
    }
}
//* 產品圖片
.product_img {
    @include xs {
        width: 100%;
    }
    @include sm {
        width: 100%;
        height: 20rem;
    }
}
.card {
    @include xs {
        padding-left: 7%;
        padding-right: 7%;
    }
}
.card-body {
    margin-bottom: 5%;
}
.badge {
    position: absolute;
    left: 0%;
}

.bi:active {
    font-size: 2.05rem;
}
//* 無收藏產品的 banner
.banner::before {
    position: absolute;
    content: "";
    z-index: -1;
    background-attachment: fixed;
    background-image: url(https://github.com/MizuYang/hexschool-Vue-week8/blob/main/src/assets/imageUrl/%E5%B0%88%E6%A1%88%E5%9C%96%E7%89%87/%E9%A0%81%E9%9D%A2%E5%9C%96%E7%89%87/%E6%94%B6%E8%97%8F%E7%94%A2%E5%93%81/%E6%94%B6%E8%97%8F%E7%94%A2%E5%93%81.jpeg?raw=true);
    background-position: 0 40%;
    background-size: cover;
    opacity: .6;
    top: 0;
    left: 0%;
    width: 100%;
    background-repeat: no-repeat;
    height: calc(105%);
    @include xs {
        background-position: 40% 60%;
        height: calc(105%);
    }
    @include md {
        background-position: 55% 55%;
    }
    @include xxl {
        background-position: 55% 35%;
    }
}
//* 調整 "查看更多" 圖片位置
.product_img:hover .product_info {
    top: 18%;
}
.title{
    margin-top: 0;
}
.card-body{
    border-bottom: 0.1rem solid rgba(170, 1, 1, 0.678);
}
.heartbreak{
    right: 80%;
}
.heart{
    right: 80%;
}