@import "@/assets/stylesheets/helpers/_mixin.scss";
//* hover 放大動畫效果
.animation_hover:hover {
    transform: scale(1.02);
}
//* active 放大
.active_bigger:active {
    transform: scale(1.05);
}

//* 產品圖
.product_img{
	object-fit: cover;
	object-position: center;
	margin: 0 auto;
}
.container{
	@include xs {
		padding-left: 7%;
		padding-right: 7%;
	}
}