.contact {
    position: relative;
    z-index: 1;
    margin-bottom: 15rem;
}
.banner_main {
    background-image: url(https://github.com/MizuYang/hexschool-Vue-week8/blob/main/src/assets/imageUrl/banner/tHe0pXjEGU.png?raw=true);
    width: 100rem;
    height: 45rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    opacity: 0.5;
    position: absolute;
    top: 25%;
    left: 25%;
   @media (max-width:1400px) {
       & {
           left: 3%;
           top: 20%;
       }
   }
}
.invalid-feedback{
    color: red;
    display: inline;
    padding: 0.1rem;
}
.send-btn:active{
    transform: scale(1.05);
}