
.banner {
    background-image: url(https://images.pexels.com/photos/8964281/pexels-photo-8964281.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    margin: 0 auto;
    transition: all 4s;
    @include xs {
        width: 23rem;
        height: 20rem;
    }
    @include sm {
        width: 35rem;
        height: 20rem;
    }
    @include md {
        width: 45rem;
    }
    @include lg {
        width: 60rem;
    }
    @include xl {
        width: 40rem;
        height: 30rem;
    }
    @include xxl {
        width: 45rem;
        height: 30rem;
    }
}
p{
    @include xs {
        padding: 0 5%;
    }
}
.banner:hover {
    transform: scale(1.45);
    transition: all 3s;
}
.content{
    overflow: hidden;

}