@import "@/assets/stylesheets/helpers/_mixin.scss";

.banner {
    background-image: url(https://github.com/MizuYang/hexschool-Vue-week8/blob/main/src/assets/imageUrl/banner/bXMwvjYRKB.png?raw=true);
    // object-position: center;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    @include xs {
        width: 20rem;
        height: 30rem;
    }
    @include sm {
        width: 30rem;
        height: 20rem;
    }
    @include md {
        width: 40rem;
        height: 30rem;
    }
    @include lg {
        width: 50rem;
        height: 40rem;
    }
    @include xl {
        width: 60rem;
        height: 39rem;
    }
}
