//*垂直 banner 主要
.banner-vertical-main {
    background-image: url(https://github.com/MizuYang/hexschool-Vue-week8/blob/main/src/assets/imageUrl/banner/as53w-m8kc8.png?raw=true);
    height: 60rem;
    background-position: center;
    position: relative;
    //* 文字
    & .vertical-main-text {
        height: 60rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @include xs {
        width: 30rem;
        margin: 0 auto;
    }
    @include sm {
        width: 30rem;
        margin: 0 auto;
    }
    @include md {
        width: 40rem;
    }
    @include lg {
        width: 27rem;
    }
    @include xl {
        width: 100%;
    }
}
//*垂直 banner 次要
.banner-vertical-secondary {
    background-image: url(https://github.com/MizuYang/hexschool-Vue-week8/blob/main/src/assets/imageUrl/banner/argjj-v421l.png?raw=true);
    height: 60rem;
    background-position: center;
    position: relative;
    //* 文字
    & .vertical-secondary-text {
        margin-left: 5%;
        height: 60rem;
        padding-bottom: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    @include xs {
        width: 30rem;
        margin: 0 auto;
    }
    @include sm {
        width: 30rem;
        margin: 0 auto;
    }
    @include md {
        width: 40rem;
    }
    @include lg {
        width: 27rem;
    }
    @include xl {
        width: 100%;
    }
}
//* 方形圖 主要
.square-main {
    background-image: url(https://github.com/MizuYang/hexschool-Vue-week8/blob/main/src/assets/imageUrl/banner/Tv2V32Kjxb.png?raw=true);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 5% auto;
    width: 25rem;
    height: 20rem;
}
//* 方形次要
.square-secondary {
    background-image: url(https://github.com/MizuYang/hexschool-Vue-week8/blob/main/src/assets/imageUrl/banner/dXWgGrVpYl.png?raw=true);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
    width: 25rem;
    height: 20rem;
}

//* 放大動畫
.animation_hover:hover {
    transform: scale(1.1);
}
.animation_hover:active {
    transform: scale(1.2);
}
