//* 主頁 banner 輪播
.banner-carousel-main {
    margin-top: 10rem;
    height: calc(100vh - 10rem);
    //* 主要banner
    .banner-main-1 {
        background-image: url(https://github.com/MizuYang/hexschool-Vue-week8/blob/main/src/assets/imageUrl/banner/banner2.jpeg?raw=true);
        height: calc(100vh - 10rem);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed; //*固定圖片
        @media (max-width:768px) {
            & {
                width: 50rem;
                background-attachment: scroll;
            }
        }
    }
    .banner-main-2 {
        background-image: url(https://github.com/MizuYang/hexschool-Vue-week8/blob/main/src/assets/imageUrl/banner/banner.jpeg?raw=true);
        height: calc(100vh - 10rem);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed; //*固定圖片
        @media (max-width:768px) {
            & {
                width: 50rem;
                background-attachment: scroll;
            }
        }
    }
    .banner-main-3 {
        background-image: url(https://github.com/MizuYang/hexschool-Vue-week8/blob/main/src/assets/imageUrl/banner/pexels-photo-1028711.jpeg?raw=true);
        height: calc(100vh - 10rem);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed; //*固定圖片
        & .product_direct{
            margin-left: 20%;
            margin-top: 5%;
        }
        @media (max-width:768px) {
            & {
                width: 50rem;
                background-attachment: scroll;
            }
        }
    }
    .product_direct {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 10rem);
        align-items: center;
        justify-content: center;
        margin-top: 5%;
    }
}
.carousel  h2{
    font-size: 3rem;
    @media (max-width:768px) {
        & {
            font-size: 2rem;
        }
    }
}