.main {
    height: 500px;
    margin-bottom: auto;
    & .accordion-button {
        background: #000;
        color: #f1ebd8;
        padding: .5rem;
    }
    & .accordion-button:hover {
        transform: scale(1.005);
        background: #f1ebd8;
        color: #000;
    }
    & .accordion-body {
        background: #000;
        font-size: 16px;
    }
    & .accordion-header {
        border-bottom: 1px solid #f1ebd8;
    }
    & .accordion-item{
        border-top: 1px solid #f1ebd8;
        margin-bottom: .3rem;
    }
}
//* 點擊時凸顯當前 QA
.accordion-item .qa_active{
    background: #f1ebd8;
    color: #000;
    transform: scale(1.009);
}
//* 處理 QA 響應式，增加間距 讓選單更好點擊
@media (max-width:768px) {
    .main{
        height: 50rem;
        & .accordion-item{
            margin-bottom: 1.2rem;
        }
        & .accordion-item .accordion-button{
            line-height: 1.6rem;
        }
    }
}