//*垂直 banner 主要
.banner-vertical-main {
    background-image: url(https://github.com/MizuYang/hexschool-Vue-week8/blob/main/src/assets/imageUrl/%E5%B0%88%E6%A1%88%E5%9C%96%E7%89%87/%E9%A0%81%E9%9D%A2%E5%9C%96%E7%89%87/%E4%B8%BB%E9%A0%81/%E5%9E%82%E7%9B%B4banner-%E4%B8%BB%E8%A6%81/%E5%9E%82%E7%9B%B4%E5%A4%A7.png?raw=true);
    height: 60rem;
    background-position: center;
    position: relative;
    //* 文字
    & .vertical-main-text {
        height: 60rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & li {
          background: rgba(17, 14, 14, 0.425);
          padding: .5rem;
          line-height: .5;
        }
    }
    @include xs {
        width: 30rem;
        margin: 0 auto;
    }
    @include sm {
        width: 30rem;
        margin: 0 auto;
    }
    @include md {
        width: 40rem;
    }
    @include lg {
        width: 27rem;
    }
    @include xl {
        width: 100%;
    }
}
//*垂直 banner 次要
.banner-vertical-secondary {
    background-image: url(https://github.com/MizuYang/hexschool-Vue-week8/blob/main/src/assets/imageUrl/%E5%B0%88%E6%A1%88%E5%9C%96%E7%89%87/%E9%A0%81%E9%9D%A2%E5%9C%96%E7%89%87/%E4%B8%BB%E9%A0%81/%E5%9E%82%E7%9B%B4banner-%E6%AC%A1%E8%A6%81/%E5%9E%82%E7%9B%B4%E5%A4%A7.png?raw=true);
    height: 60rem;
    background-position: center;
    position: relative;
    //* 文字
    & .vertical-secondary-text {
        margin-left: 5%;
        height: 60rem;
        padding-bottom: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        & li {
          background: rgba(17, 14, 14, 0.425);
          padding: .5rem;
          line-height: .5;
        }
    }
    @include xs {
        width: 30rem;
        margin: 0 auto;
    }
    @include sm {
        width: 30rem;
        margin: 0 auto;
    }
    @include md {
        width: 40rem;
    }
    @include lg {
        width: 27rem;
    }
    @include xl {
        width: 100%;
    }
}
//* 方形圖 主要
.square-main {
    background-image: url(https://github.com/MizuYang/hexschool-Vue-week8/blob/main/src/assets/imageUrl/%E5%B0%88%E6%A1%88%E5%9C%96%E7%89%87/%E9%A0%81%E9%9D%A2%E5%9C%96%E7%89%87/%E4%B8%BB%E9%A0%81/%E5%9E%82%E7%9B%B4banner-%E4%B8%BB%E8%A6%81/%E5%9E%82%E7%9B%B4%E5%B0%8F.png?raw=true);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 5% auto;
    width: 25rem;
    height: 20rem;
}
//* 方形次要
.square-secondary {
    background-image: url(https://github.com/MizuYang/hexschool-Vue-week8/blob/main/src/assets/imageUrl/banner/dXWgGrVpYl.png?raw=true);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
    width: 25rem;
    height: 20rem;
}

//* 放大動畫
.animation_hover:hover {
    transform: scale(1.05);
    
}
.animation_hover:active {
    transform: scale(1.1);
}
//* 針對下方三個卡片輪播調整樣式
.card_container {
    position: relative;
    @include sm {
      position: static;
    }
    @include md {
      position: relative;
      left: 25%;
    }
    @include lg {
      left: 5%;
    }
    @include xl {
      left: 10%;
      margin-bottom: 30rem;
    }
    @include xxl {
      left: 0%;
      
    }
  }
  .cake_container {
    @include xs {
      position: static;
      margin-bottom: 2rem;
    }
    @include sm {
      position: static;
      margin-bottom: 2rem;
    }
    @include lg {
      position: absolute;
      left: 50%;
    }
    @include xl {
      position: absolute;
      left: -5%;
    }
    @include xxl {
      left: 2%;
    }
    @media (min-width: 1500px) {
      left: 5%;
    }
    @media (min-width: 2000px) {
      left: 25%;
    }
  }
  .pudding_container {
    @include xs {
      position: static;
      margin-bottom: 2rem;
    }
    @include sm {
      position: static;
      margin-bottom: 2rem;
    }
    @include xl {
      position: absolute;
      left: 26%;
    }
    @include xxl {
      position: absolute;
      left: 33%;
    }
    @media (min-width: 1500px) {
      left: 37%;
    }
    @media (min-width: 2000px) {
      left: 42.5%;
    }
  }
  .profiterole_container {
    @include xs {
      position: static;
      margin-bottom: 2rem;
    }
    @include sm {
      position: static;
      margin-bottom: 2rem;
    }
    @include xl {
      position: absolute;
      left: 57%;
    }
    @include xxl {
      position: absolute;
      left: 65%;
    }
    @media (min-width: 1500px) {
      left: 68%;
    }
    @media (min-width: 2000px) {
      left: 60%;
    }
  }

.arrowLeft{
    position: absolute;
    right: 54%;
    @include xs {
      right: 70%;
    }
    @include md {
      right: 0%;
      left: -50%;
    }
}
.arrowRight{
    position: absolute;
    right: 44%;
    @include xs {
      right: 14%;
    }
    @include sm {
      right: 24%;
    }
}