
.banner {
    background-image: url(https://github.com/MizuYang/hexschool-Vue-week8/blob/main/src/assets/imageUrl/%E5%B0%88%E6%A1%88%E5%9C%96%E7%89%87/%E9%A0%81%E9%9D%A2%E5%9C%96%E7%89%87/%E8%81%AF%E7%B5%A1%E6%88%91%E5%80%91/%E8%81%AF%E7%B5%A1%E6%88%90%E5%8A%9F.jpeg?raw=true);
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    margin: 0 auto;
    transition: all 4s;
    @include xs {
        width: 23rem;
        height: 20rem;
    }
    @include sm {
        width: 35rem;
        height: 20rem;
    }
    @include md {
        width: 45rem;
    }
    @include lg {
        width: 60rem;
    }
    @include xl {
        width: 40rem;
        height: 30rem;
    }
    @include xxl {
        width: 45rem;
        height: 30rem;
    }
}
p{
    @include xs {
        padding: 0 5%;
    }
}
.banner:hover {
    transform: scale(1.45);
    transition: all 3s;
}
.content{
    overflow: hidden;

}