.main {
    //* 將手風琴樣式變成主題色調
    & .accordion-button {
        background: #000;
        color: #f1ebd8;
    }
    & .accordion-button:hover {
        background: #333127;
        color: #f1ebd8;
    }
    & .accordion-body {
        background: #000;
        font-size: 1.2rem;
        @include xs {
            font-size: 1rem;
        }
    }
    & .accordion-header {
        border-bottom: 1px solid #f1ebd8;
    }
    & .accordion-item{
        border-top: 1px solid #f1ebd8;
        margin-bottom: .3rem;
    }
    & button {
        font-size: 1.5rem;
        @include xs {
            font-size: 1.2rem;
        }
    }
}

//* 點擊時凸顯當前 QA
.accordion-item .qa_active{
    background: #4d4831;
    color: #f1ebd8;
}
@include xs {
    .main{
        margin-bottom: 5rem;
    }
    .main .accordion-button {
        padding: 1rem;
        margin-bottom: 5px;
    }
    .main .accordion-header{
        background: #000;
    }
}
@include sm {
    .main{
        margin-bottom: 10rem;
    }
    .main .accordion-button {
        padding: 1rem;
        margin-bottom: 5px;
    }
    .main .accordion-header{
        background: #000;
    }
}