@import "@/assets/stylesheets/helpers/_rwdMixin.scss";
.title {
    line-height: 2rem;
    text-align: center;
    @include xs {
        margin-top: 0 !important;
    }
}
//*偽元素裝飾線條
.decorate {
    //* 文字上下置中效果
    display: block;
    //* 定位橫線(當橫線的父元素)
    position: relative;
}
.title .decorate:before {
    left: 25%;
    @include xs {
        left: 14%;
    }
    @include xl {
        left: 30%;
    }
}
.title .decorate:after {
    right: 25%;
    @include xs {
        right: 14%;
    }
    @include xl {
        right: 30%;
    }
}
.title .decorate:before,
.title .decorate:after {
    position: absolute; 
    top: 50%;
    content: ""; 
    width: 122px;
    height: 1px;
    align-items: center; 
    background: #f1ebd8;
    @include xs {
        width: 45px;
    }
    @include sm {
        width: 80px;
    }
    @include lg {
        width: 100px;
    }
    @include xl {
        width: 110px;
    }
    @include xxl {
        width: 110px;
    }
}