.products_img {
    width: 30rem;
    height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .product_info {
    height: 19rem;
    margin: 0 auto;
    display: none;
    z-index: -10;
  }
  //* 顯示 "查看更多"
  .products_img:hover .product_info {
    display: block;
  }
  .products_img:hover{
      transform: scale(1.01);
      transition: all .3s;
  }
  .tag{
      transform: rotate(-42deg);
      position: absolute;
      padding: .2rem 1rem;
      border-top-left-radius: 40%;
      top: 4%;
      @include xs {
        left: -6%;
      }
      @include sm {
        left: -4%;
      }
      @include md {
        left: -5%;
      }
      @include lg {
        left: -6%;
      }
      @include xl {
        left: -7%;
      }
  }
  .animation_hover:hover {
      transform: scale(1.02);
      transition: 0.2s;
  }
  .btn.animation_active:active {
      transform: scale(1.05);
  }
.btn-opacity-none{
  background: #7a1c0c;
  &:hover {
    background: rgb(162, 17, 17);
  }
}