//* 購物車為空的 banner
.banner{
    background-image: url(https://github.com/MizuYang/hexschool-Vue-week8/blob/main/src/assets/imageUrl/product/l3VtdrrozG.png?raw=true);
    position: absolute;
    top: 25%;
    left: 38.5%;
    background-repeat: no-repeat;
    background-size: conter;
    height: 30rem;
    width: 40rem;
    opacity: .6;
    z-index: -1;
}
@media (max-width:1400px) {
    .banner{
        left: 28%;
        top: 30%;
    }
}
@media (max-width:1200px) {
    .banner{
        left: 25%;
    }
}
@media (max-width:992px) {
    .banner{
        left: 19%;
    }
}
@media (max-width:768px) {
    .banner{
        width: 40rem;
        left: 10%;
    }
}
@media (max-width:576px) {
    .banner{
        height: 25rem;
        width: 30rem;
        left: 10%;
        top: 35%;
    }
}
//* hover 放大動畫效果
.animation_hover:hover {
    transform: scale(1.02);
}
//* active 放大
.active_bigger:active{
    transform: scale(1.05);
}