.animation_hover:hover {
    transform: scale(1.02);
}
.active_bigger:active {
    transform: scale(1.05);
}
.banner::before {
    position: absolute;
    content: "";
    z-index: -1;
    background-attachment: fixed;
    background-image: url(https://github.com/MizuYang/hexschool-Vue-week8/blob/main/src/assets/imageUrl/%E5%B0%88%E6%A1%88%E5%9C%96%E7%89%87/%E9%A0%81%E9%9D%A2%E5%9C%96%E7%89%87/%E8%B3%BC%E7%89%A9%E8%BB%8A/%E8%B3%BC%E7%89%A9%E8%BB%8A%E7%84%A1%E8%A8%82%E5%96%AE.jpg?raw=true);
    background-size: cover;
    background-position: center;
    left: 0;
    top: 0;
    opacity: .7;
    width: 100%;
    @include xs {
        height: 106rem;
    }
    @include md {
        height: 100rem;
    }
    @media (min-width:1024px) {
        height: 87rem;
    }
    @media (min-width:1536px) {
        height: 77rem;
    }
}