//* 結帳流程軸
.time_line li{
    padding: 1rem;
    border-radius: 20%;
    border: solid 1px #f1ebd8;
}
//* 時間軸
.time_title span, .time_subtitle span  {
    display: block;     //*设置为块级元素会独占一行形成上下居中的效果*/

    position: relative;   //*定位横线（当横线的父元素）*/
}
.time_title span:before, .time_title span:after,.time_subtitle span:before,.time_subtitle span:after{
    content: '';                 //*CSS伪类用法*/
    position: absolute;         //*定位背景横线的位置*/
    top: 52%;
    background: #f1ebd8;     //*宽和高做出来的背景横线*/
    width: 14.7rem;
    height: .1rem;
    @include xs {
        display: none; //* 低於 576 的尺寸就隱藏偽元素
    }
    @include sm {
        display: block; 
    }
}
//* 處理響應式時 偽元素長度和距離
@include sm {
    .time_line li{
        text-align: center;
        width: 7rem;
        padding: .9rem;
    }
    .time_subtitle span:before,.time_subtitle span:after{
        width: 1.5rem;
    }
    .time_title span:before, .time_title span:after{
        width: 1.3rem;
    }
    .time_title span:before{
        left: -42%;        //*调整背景横线的左右距离*/
    }
    .time_title span:after {
        right: 120%;
    }
    .time_subtitle span:after{
        right: 117%;
    }
    .time_subtitle span:before{
        left: 117%;        //*调整背景横线的左右距离*/
    }
}
@include md {
    .time_subtitle span:before,.time_subtitle span:after{
        width: 5.3rem;
    }
    .time_title span:before, .time_title span:after{
        width: 3rem;
    }
    .time_title span:before{
        left: -122%;        //*调整背景横线的左右距离*/
    }
    .time_title span:after {
        right: 119%;
    }
}
@include lg {
    .time_subtitle span:before,.time_subtitle span:after{
        width: 10.3rem;
    }
    .time_title span:before, .time_title span:after{
        width: 6rem;
    }
    .time_title span:before{
        left: -219%;        //*调整背景横线的左右距离*/
    }
}
@include xl {
    .time_subtitle span:before,.time_subtitle span:after{
        width: 14rem;
    }
    .time_title span:before, .time_title span:after{
        width: 9rem;
    }
    .time_title span:before{
        left: -295%;        //*调整背景横线的左右距离*/
    }
    .time_title span:after {
        right: 119%;
    }
    .time_subtitle span:after{
        right: 118%;
    }
    .time_subtitle span:before{
        left: 117%;        //*调整背景横线的左右距离*/
    }
}
@include xxl {
    .time_subtitle span:before,.time_subtitle span:after{
        width: 17.7rem;
    }
    .time_title span:before, .time_title span:after{
        width: 10rem;
    }
    .time_title span:before{
        left: -367%;        //*调整背景横线的左右距离*/
    }
    .time_title span:after {
        right: 119%;
    }
    .time_subtitle span:after{
        right: 118%;
    }
    .time_subtitle span:before{
        left: 117%;        //*调整背景横线的左右距离*/
    }
}


//* 增加時間軸狀態
.dynamic_timeline{
    background: #f1ebd8;
    color: #000;
}
//* 響應式 文字
li{
    @include xs {
        font-size: 1rem;
    }
    @include sm {
        font-size: 1rem;
        line-height: 1.2;
    }
}
