.animation_hover:hover {
    transform: scale(1.02);
}
.active_bigger:active {
    transform: scale(1.05);
}
p{
    @include xs {
        padding: 0  2rem;
    }
}
.banner::before {
    position: absolute;
    content: "";
    z-index: -1;
    background-image: url(https://github.com/MizuYang/hexschool-Vue-week8/blob/main/src/assets/imageUrl/%E5%B0%88%E6%A1%88%E5%9C%96%E7%89%87/%E9%A0%81%E9%9D%A2%E5%9C%96%E7%89%87/%E8%B3%BC%E7%89%A9%E8%BB%8A/%E5%AE%8C%E6%88%90%E8%A8%82%E5%96%AE.png?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 35%;
    top: 0;
    left: 0;
    height: calc(100%);
    width: 100%;
    opacity: .5;
    @include xs {
        display: none;
    }
    @include md {
        background-position: 70%;
        height: 70rem;
    }
    @media (min-width: 1536px) {
        height: 65rem;
    }
}