.img_product {
    height: 10rem;
    width: 10rem;
  }
  .img_productRWD {
    height: 7rem;
    width: 7rem;
  }
  .btn {
    width: 10rem;
  }
  .padding-clear {
    padding: 0;
  }
  .finalSteps-bg {
    background: rgba(159, 156, 156, 0.389);
  }
  .finalSteps-text-fs-3 {
    font-size: 1.5em;
  }