.product_img {
    height: 10rem;
    width: 13rem;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.product_info {
    height: 9rem;
    width: 9rem;
    object-fit: cover;
    position: absolute;
    top: 10%;
    left: 15%;
    display: none;
}
.productsQtyBtn {
    width: 3rem;
    height: 3rem;
    font-size: 1.3rem;
}
.productsQtyBtn:hover {
    background: #c432188e;
    color: #f1ebd8;
}
.productsQtyText {
    text-align: center;
    width: 4rem;
}
.tag{
    overflow: hidden;
    color: #f1ebd8;
    border-bottom-right-radius: 50%;
    border: 0.1rem solid rgba(170, 1, 1, 0.678);
    background: rgba(168, 90, 0, 0.562);
}
//* 顯示 "查看更多"
.img_hover:hover .product_info {
    top: 5%;
    display: block;
}
.animation_hover:hover {
    transform: scale(1.02);
}
.active_bigger:active {
    transform: scale(1.05);
}
.btn-outline-danger {
    color: #f1ebd8;
    border: solid 1px #f1ebd8;
}
.btn-outline-danger:hover {
    background: rgba(165, 33, 33, 0.829);
    color: #f1ebd8;
}
//* 把 tfoot 的線 變主色
.table > :not(caption) > * > * {
    border-bottom-color: #f1ebd8;
}
.sendOrderBtn{
    width: 10rem;
    &:hover {
        transform: scale(1.03);
        background: #c43218c3;
    }
    &:active{
        transform: scale(1.07);
    }
    &.rwd_hide{
        @include md{
            display: block;
        }
        @media (max-width:768px) {
            display: none;
        }

    }
}
.finalSteps-bg {
    background: rgba(159, 156, 156, 0.389);
  }